html {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    background: #e8e8e8;
}

header {
    display: block;
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 8px;
}

header p {
    font-size: 18px;
}

.wrapper {
    display: block;
    width: 100%;
}

.calculator {
    width: 290px;
    height: 460px;
    margin: 50px auto;
    padding: 40px 26px;
    display: grid;
    grid-template-areas: 
    "display display display display display"
    "seven eight nine division backspace"
    "four five six multiplication clear"
    "one two three subtraction clear"
    "nil decimal-point equal addition clear";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1.5fr repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 6px #ababab;
}

button {
    background-color: #e8e8e8;
    font: inherit;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

#display {
    grid-area: display;
    padding: 10px 10px;
    margin: 12px 0px;
    background-color: #e8e8e8;
    font-size: 38px;
    text-align: right;
    border: none;
    border-radius: 2px;
}

#zero {
    grid-area: nil;  
}

#one {
    grid-area: one;  
}

#two {
    grid-area: two;  
}

#three {
    grid-area: three;  
}

#four {
    grid-area: four;  
}

#five {
    grid-area: five;  
}

#six {
    grid-area: six;  
}

#seven {
    grid-area: seven;  
}

#eight {
    grid-area: eight;  
}

#nine {
    grid-area: nine;  
}

#decimal {
    grid-area: decimal-point;
}

#add {
    grid-area: addition;
}

#subtract {
    grid-area: subtraction;
}

#multiply {
    grid-area: multiplication;
}

#divide {
    grid-area: division;
}

#equal {
    grid-area: equal;
}

#bksp {
    grid-area: backspace;
}

#clear {
    grid-area: clear;
}

.operator, .func {
    background: #c0ffee;
}

.number:active {
    background: #cacaca;
}

.operator:active, .func:active {
    background: #9aecd6;
}